@use '../abstracts' as *;

.about {
  position: relative;
  padding: rem(60) 0;
  margin-bottom: rem(60);
  border-bottom: 1px solid $gray-dk;

  @include screen(md) {
    padding-right: rem(100);
    padding-left: rem(100);
  }
}

.about-slide-fade-enter-active {
  transition: all .2s ease-in-out;
}

.about-slide-fade-leave-active {
  transition: all .2s ease-in-out;
}

.about-slide-fade-enter-from,
.about-slide-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}