@use '../abstracts/' as *;

.card {
  padding: rem(40);
  background-color: rgba($color: $green, $alpha: 0.06);
  border-radius: $border-radius;
}

.card__table {
  width: 100%;
}

.card__table-row:nth-child(2) {
  background-color: $gray-dk;
}