@use '../abstracts' as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  flex-shrink: 0;
  background-color: $gray-dk;
}

.footer__body {
  position: relative;
  background-color: $gray-lt;
}

.footer__nav {
  z-index: 1;
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: rem(15);
}

.footer__nav-list {
  display: flex;
  justify-content: center;
}

.footer__nav-item:first-child {
  margin-right: rem(20);
}

.footer__background {
  position: relative;
  margin: -1px;
}