@use '../abstracts/' as *;

.main {
  flex: 1 0 auto;
  background-color: $gray-dk;
  padding: rem(60) 0 rem(60);
  margin-bottom: -1px;
  
  @include screen(md) {
    padding: rem(100) 0 rem(160);
  }
}

.main__grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.main__back {
  margin-bottom: rem(20);
}

.main-fade-enter-active,
.main-fade-leave-active {
  transition: opacity .5s;
}
.main-fade-enter,
.main-fade-leave-to {
  opacity: 0;
}